.fastui-login-title {
    background-image: url( locked.png ) !important;
}
.fastui-login-submit {
      background-image: url( key_go.png ) !important;
}
.fastui-login-cancel {
    background-image: url( cross.png ) !important;
}
.fastui-login-header {
    background: transparent url("lock.png") no-repeat 97% 50%;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 45px 10px 10px;
}
.fastui-upload {
    background-image: url( upload.png ) !important;
}


.fastui-btn-new {
    background-image: url( table/table_add.png ) !important;
}
.fastui-btn-edit {
    background-image: url( table/table_edit.png ) !important;
}
.fastui-btn-list {
    background-image: url( table/table.png ) !important;
}
.fastui-btn-del {
    background-image: url( table/table_delete.png ) !important;
}
.fastui-btn-save {
    background-image: url( table/table_save.png ) !important;
}
.fastui-btn-help {
    background-image: url( table/help.png ) !important;
}

