#fastui-loading {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -70px
}

#fastui-loading .title {
    font-family: "Exo", sans-serif;
    font-size: 2em;
    color: gray;
    text-align: center;
    white-space: nowrap;
    display: block
}

#fastui-loading .logo {
    background: url(loading.gif) no-repeat center;
    display: block;
    height: 120px
}

.fastui-header {
    padding:10px;
}

.fastui-header span.caption {
    color:#3e6aaa;
    font-size: 22px !important;
    text-shadow: 0 2px 0 white;
}

.fastui-header span.version {
    margin-left: 10px;
    font-size:10px;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 white;
}

.fastui-home {
    background-image: url( application/application_home.png ) !important;
}
.fastui-menu {
    background-image: url( application/application_side_tree.png ) !important;
}
.fastui-tree-expand {
    background-image: url( arrow/arrow_divide.png ) !important;
}
.fastui-tree-collapse {
    background-image: url( arrow/arrow_join.png ) !important;
}




.fastui-login-title {
    background-image: url( locked.png ) !important;
}
.fastui-login-submit {
      background-image: url( key_go.png ) !important;
}
.fastui-login-cancel {
    background-image: url( cross.png ) !important;
}
.fastui-login-header {
    background: transparent url("lock.png") no-repeat 97% 50%;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 45px 10px 10px;
}
.fastui-upload {
    background-image: url( upload.png ) !important;
}


.fastui-btn-new {
    background-image: url( application/application_form_add.png ) !important;
}
.fastui-btn-edit {
    background-image: url( application/application_form_edit.png ) !important;
}
.fastui-btn-list {
    background-image: url( application/application_view_columns.png ) !important;
}
.fastui-btn-del {
    background-image: url( application/application_form_delete.png ) !important;
}
.fastui-btn-save {
    background-image: url( table/table_save.png ) !important;
}
.fastui-btn-help {
    background-image: url( table/help.png ) !important;
}
