<!DOCTYPE html>
<html>
<head>
  <title>Fastui</title>
  <%= stylesheet_link_tag    "fastui/application", :media => "all" %>
  <%= javascript_include_tag "fastui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
